<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>goodsPage</title>
    <link rel="stylesheet" href="/js/element-ui/index.css">
    <script src="/js/vue.min.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/element-ui/index.js"></script>
</head>
<body>


<div id="app">
    <template>
        <!--搜索表单-->
        <el-form :inline="true" :model="goodsSearch" class="demo-form-inline">
            <el-form-item label="商品名称">
                <el-input v-model="goodsSearch.goodsName" placeholder="商品名称"></el-input>
            </el-form-item>
            <el-form-item label="商品价格">
                <el-input v-model="goodsSearch.goodsPrice" placeholder="商品价格"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" v-on:click="onSubmit()">查询</el-button>
            </el-form-item>
        </el-form>

        <!--批量删除和新增按钮-->
        <el-button type="primary" type="text" v-on:click="dialogFormVisible = true">新增订单</el-button>
        <el-button type="warning" type="text">重置</el-button>

        <!--商品列表表格-->
        <el-table
                :data="goodsList"
                style="width: 100%" v-on:selection-change="handleSelectionChange">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    prop="goodsId"
                    label="商品id"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="goodsName"
                    label="商品名称"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="price"
                    label="商品价格">
            </el-table-column>
            <el-table-column>
                <el-input-number prop v-model="num" :step="1" @change="handleChange" :min="0" :max="10"
                                 label="下单数量">下单数量
                </el-input-number>
            </el-table-column>

            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            v-on:click="handleSummit(scope.$index, scope.row)">下单
                    </el-button>

                </template>
            </el-table-column>
        </el-table>
    </template>
    <template>
        <el-dialog title="新增订单" :visible.sync="dialogFormVisible">
            <el-select v-model="goodsId" placeholder="请选择商品">
                <el-option
                        v-for="item in options.goods"
                        :key="item.goodsId"
                        :label="item.goodsName"
                        :value="item.goodsId">
                </el-option>
            </el-select>

            <el-select v-model="userId" placeholder="请选择下单人">
                <el-option
                        v-for="item in options.user"
                        :key="item.userId"
                        :label="item.username"
                        :value="item.userId">
                </el-option>
            </el-select>


            <el-input v-model="options.goodsNum" placeholder="下单数量"></el-input>

            <div slot="footer" class="dialog-footer">
                <el-button v-on:click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" v-on:click="addOrder">确定下单</el-button>
            </div>
            </el-form>

        </el-dialog>

        <!--        分页栏-->
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handlePageChange"
                :current-page="currentPage"
                :page-sizes="[2, 4, 5, 6]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="totalCount">
        </el-pagination>
    </template>


</div>


<script>
    let vue = new Vue({
        el: "#app",
        data: {
            /*搜索表单的模型数据*/
            goodsSearch: {
                goodsName: '',
                price: ''
            },
            //添加商品弹窗的数据模型
            options: {
                user: [],
                goodsNum: '',
                goods: []
            },

            orders: {
                goodsId: '',
                goodsName: '',
                price: ''
            },

            userId: '',
            goodsId: '',

            // 页面商品数据模型
            goodsList: [],
            /*复选框选中以后数据的存储数组*/
            multipleSelection: [],
            num: 1,

            /*对话框弹出隐藏的属性*/
            dialogTableVisible: false,
            dialogFormVisible: false,
            formLabelWidth: '120px',
            // 分页属性
            currentPage: 1,
            pageSize: 5,
            totalCount: 0,
            recentUserName:'',
            recentUserId:''

        },

        mounted() {
            this.displayData();
            axios.get("/user/listUser.do").then(function (response) {
                console.log(response)
                vue.options.user = response.data.data;
            })
        },

        methods: {
            displayData: function () {
                axios.get("/goods/listGoods.do?currentPage=" + this.currentPage + "&pageSize=" + this.pageSize).then(function (response) {
                    console.log(response)
                    vue.goodsList = response.data.data.records;
                    vue.totalCount = response.data.data.total
                    vue.options.goods = vue.goodsList;
                    this.recentUser=Cookie.get("username")
                    this.recentUserId=Cookie.get("userId")
                    console.log(this.recentUser,this.recentUserId)
                })
            },
            addOrder: function () {
                this.orders.goodsId = this.goodsId;
                this.orders.goodsNum = this.options.goodsNum;
                this.orders.userId = this.userId
                console.log(this.orders)
                axios.post("/order/addOrder.do", vue.orders).then(function (response) {
                    console.log(response)
                    if (response.data.code == 200) {
                        alert("下单成功")
                        dialogFormVisible = false;
                        // location.href = "userGoodsPage.html"
                    } else {
                        alert(response.data.msg)
                    }
                })

            },

            /*搜索表单提交函数*/
            onSubmit() {
                console.log('submit!');
            },
            /*复选框选中触发的函数*/
            handleSelectionChange(val) {
                this.multipleSelection = val;
                console.log(this.multipleSelection)
            },
            handleChange(value) {
                console.log(value);
            },
            handleSummit(index, row) {
                // console.log(index, row);
                let obj = (index, row);
                console.log(obj.goodsId, obj.goodsName, obj.price)
                axios.post("/order/addOrder.do", obj).then(function (response) {
                    if (response.data.code == 200) {
                        alert("下单成功")
                        location.href = "userGoodsPage.html"
                    } else {
                        alert(response.data.msg)
                    }
                })

            },
            handleSizeChange(val) {
                vue.pageSize = val;
                //修改每页显示的数量后，设置当前页面回到第一页
                vue.currentPage = 1;
                vue.displayData();
            },
            handlePageChange(val) {
                vue.currentPage = val;
                vue.displayData();
            },

        }


    })

    let Cookie = {
        set: function (key, value, exdays) {
            //校验Key, key中不能有等号【=】
            if(key.indexOf("=") !== -1) {
                throw new Error("Cookie不支持key中使用等号【=】, key:" + key)
            }
            let exdate = new Date() // 获取时间
            exdate.setTime(exdate.getTime() + 24 * 60 * 60 * 1000 * exdays) // 保存的天数
            // 字符串拼接cookie
            // eslint-disable-next-line camelcase
            window.document.cookie = key + '=' + value + ';path=/;expires=' + exdate.toGMTString()
        },

        get: function (key) {
            if (document.cookie.length > 0) {
                // 这里显示的格式需要切割一下自己可输出看下
                var arr = document.cookie.split('; ')
                for (let i = 0; i < arr.length; i++) {
                    let arr2 = arr[i].split('=') // 再次切割
                    // 判断查找相对应的值
                    if (arr2[0] === key) {
                        var value = arr2[1];
                        for (let j = 2; j < arr2.length; j++) {
                            value += '=' + arr2[j];
                        }
                        return value;
                    }
                }
            }
        },
        remove: function (key) {
            set(key, '', -1);
        }
    }

</script>

</body>
</html>